html{
    background-color: wheat;
}
header{ 
    background-color: #333;
    color: #f2f2f2;
    padding: 1px;
}
nav{
    overflow: hidden;
    background-color: #333;
    display: flex;
    justify-content: space-evenly;
}
nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav a:hover {
    background-color: #ddd;
    color: black;
  }
.link{ font-size: 20px;}
.dakoda{
    display: flex;
    justify-content: center;
    font-size: 40px;
}
.porfolio{ 
    display: flex;
    justify-content: center;
}
.my-work-1{
    display: flex;
    justify-content: flex-end;
}
.Me{ 
    float: left;
    padding-left: 25px;
font-size: 35px;
}

main > img {
    padding: 15px;
    height: 350px;
    float: right;
}
.p{ 
    font-size: 20px;
    padding-left: 25px;
    float: left;
    max-width: 450px;
}
.yoda{
    font-style: oblique;
    padding-top: 50px;
    padding-left: 10px;
    float: left;
    font-size: 35px;
}